body {
    font-family: 'Roboto', sans-serif;
    font-size: 15px;
    line-height: 1.5;
    margin: 0;
    padding: 0;
    background-color: #DCDDDE;
}

/* Globla rules */

.links {
    font-weight: bold;
}

.btn {
    color: #F7941E;
    background-color: #4B4D4F;
}

/* .btn a:hover {
    color: #F7941E;
    background-color: #4B4D4F;
} */

.titles {
    color: #F7941E;
}

.signUp-style {
    background-color: #bdbdbd;
}

/* Navigation */

.style-nav {
    background-color: #4B4D4F;
    border-bottom: #F7941E 3px solid;
    padding-top: 10px;
    min-height: 50px;
}

.navbar-brand img {
    width: 170px;
    padding-left: 20px;
    padding-top: 10px;
}

.nav-link {
    font-weight: bold;
}

.sidenav-style {
    color: #F7941E;
}


