body {
    font-family: 'Roboto', sans-serif;
    font-size: 15px;
    line-height: 1.5;
    margin: 0;
    padding: 0;
    background-color: #DCDDDE;
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

/* Globla rules */

.links {
    font-weight: bold;
}

.btn {
    color: #F7941E;
    background-color: #4B4D4F;
    margin: 3px;
}

.cancel {
    color: #f44336;
    background-color: #4B4D4F;
    margin: 3px;
}

.btn-workout {
    color: #fafafa;
    background-color: #F7941E;
}

.collapsible-header .col strong {
    margin: 3px;
    line-height: 42px;

}

.btn:hover {
    color: #F7941E;
    background-color: #5f5f5f;
    font-weight: bold;
}

.titles {
    color: #F7941E;
}

.signUp-style {
    background-color: #bdbdbd;
}


/* Navigation */

.style-nav {
    background-color: #4B4D4F;
    border-bottom: #F7941E 3px solid;
    padding-top: 10px;
    min-height: 50px;
}

.navbar-brand img {
    width: 170px;
    padding-left: 20px;
    padding-top: 10px;
}

#mobile-demo .nav-link {
    font-weight: bold;
    color: #4B4D4F;
}

#top-navbar .nav-link {
    font-weight: bold;
}

.sidenav-style {
    color: #F7941E;
}

/* Collapsible */

.collapsible-style {
    background-color: #4B4D4F;
    color: #F7941E;
}

/* Footer */

.footer {
    margin-top: auto;
    min-height: 20vh;
    background-color: #F7941E;
}

.social-networks {
    display: inline-block;
    color: #fafafa;
    font-size: 160%;
}
.footer_bottom {
    background: #F7941E;
    color: white;
    height: 50px;
    text-align: center;
    padding: 10px;
    bottom: 0px;
    left: 0px;
    margin-left: -40px;
}

/* Media Queries */

@media(max-width: 480px) {
    .btn {
    color: #F7941E;
    background-color: #4B4D4F;
    margin: 3px;
}
    .btn-workout {
    color: #fafafa;
    background-color: #F7941E;
}

.collapsible-header .col strong {
    margin: 3px;
    line-height: 42px;

}
}

@media only screen and (max-width: 600px) {
    .btn {
    color: #F7941E;
    background-color: #4B4D4F;
    margin: 2px;
    display: inline-block;
    font-size: 16px;
}
    .btn-workout {
    color: #fafafa;
    background-color: #F7941E;
}

.collapsible-header .col strong {
    margin: 3px;
    line-height: 42px;
}
}


