{% extends "base.html" %}
{% block content %}
     
    <h4 class="center-align titles">Become a member</h4>

    <div class="row">
        <form class="col s12 m8 offset-m2" method="POST" action="{{ url_for('signup') }}">
            <div class="card-panel">
                <!-- Username -->
                <div class="row">
                    <div class="input-field col s12">
                        <i class="fas fa-user-plus prefix signUp-style"></i>
                        <input id="username" name="username" type="text" minlength="5" maxlength="15" pattern="^[a-zA-Z0-9]{5,15}$" class="validate" required>
                        <label for="username" required>Username</label>
                    </div>
                </div>
                <!-- Email -->
                <div class="row">
                    <div class="input-field col s12">
                        <i class="fas fa-envelope prefix signUp-style"></i>
                        <input id="email" name="email" type="text" class="validate" required>
                        <label for="email">Email</label>
                    </div>
                </div>
                <!-- Password -->
                <div class="row">
                    <div class="input-field col s12">
                        <i class="fas fa-user-lock prefix signUp-style"></i>
                        <input id="password" name="password" type="password" minlength="5" maxlength="15" pattern="^[a-zA-Z0-9]{5,15}$" class="validate" required>
                        <label for="password">Password</label>
                    </div>
                </div>
                <!-- Sign Up -->
                <div class="row">
                    <button type="submit" class="btn col s12 btn-large text-shadow links">
                        Sign Up <i class="fas fa-sign-in-alt"></i>
                    </button>
                </div>
            </div>
        </form>
  </div>

  <div class="row">
      <div class="col s12">
          <p class="center-align">
              Already a member? <a href="{{ url_for('login') }}" class="titles">Log in</a>
          </p>
      </div>
  </div>

{% endblock %}

